@font-face {
    font-family: naikaifont;
    src: url(https://cdn.jsdelivr.net/gh/max32002/naikaifont@1.0/webfont/NaikaiFont-Regular-Lite.woff2) format("woff2")
    , url(https://cdn.jsdelivr.net/gh/max32002/naikaifont@1.0/webfont/NaikaiFont-Regular-Lite.woff) format("woff");
  }
@font-face {
    font-family: RoundPop;
    src:local("RoundPop"),local("round-pop"),url('../font/RoundPop-owwjd.woff') format('woff');
}

html{
    background-color:#FFF7E0;
    box-sizing: border-box;
}

*,
*:before,
*:after{
    box-sizing:inherit;
}

body{
    font-family: 'naikaifont',sans-serif;
    margin:0px;
    font-weight: 400;
    font-size: 16px;
}

.bodycontainer{
    margin: 0 auto;
    max-width: 1440px;
}

ul{
    list-style: none;
}

/* loading */
#preloader{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    background-color: #FCF6DD;
    z-index: 9999;
}

#status img{
    position: fixed;
    max-width: 340px;
    max-height: 340px;
    margin-left: -140px;
    margin-top: -160px;
    left: 50%;
    top: 50%;
}
/* loading end */

/*回到頂部*/
.btn-gotop {
    position: fixed;
    z-index: 999;
    background-image: url(../img/toTOP.png);
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 120px;
    height: 120px;
    right: 10px;
    bottom: 60px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .btn-gotop.show {
    opacity: 1;
    z-index: 999;
  }
  
  .btn-gotop:hover {
    cursor: pointer;
    background-image: url(../img/toTOP-h.png);
  }
/* Back to top end */

/* nav */
.nav-container{
    display: flex;
    align-items: center;
 }
 
 .nav{
     justify-content: space-between;
     display: flex;
     height: 88px;
     font-size: 20px;
     background-color: #7B5333;   
     padding-right: 100px; 
     position: relative;
 }
 
 .nav-menu{
     display: none;
 }
 
 .nav-logo{
     margin-left: 91px;
     margin-top: 8px;
 }
 
 .nav-list{
     display: flex;
     position: relative;
 }
 
 .nav-item{
     color: #FFE7C0;
     align-items: center;
 }
 
 .nav-item-no-hover{
     color: #FFE7C0;
     align-items: center;
 }
 
 .nav-item2{
     color: #FFE7C0;
     align-items: center;
 }
 
 .nav-link{
     color: #FFE7C3;
     text-decoration: none;
 }
 
 .nav-link-no-hover{
     color: #FFE7C3;
     text-decoration: none;
 }
 
 .nav-list .nav-sublist {
     display: none;
   }
 
 .nav-sublist{
     display: flex;
     align-items: center;
     position: absolute;
     top: 20px;
     margin: 0;
     padding: 0;
     background-color: #E9C084;
     border-radius: 16px;
     text-align: center;
     left: 50%;
     transform: translateX(-10%);
 }
 
 .nav-sublist-link{
     display: block;
     background-color: #E9C084;
     color: #7B5333;
     padding: 22px;
     border-radius: 16px;
     text-decoration: none;
 }
 
 .nav-sublist2{
     display: none;
 }
 
 .nav-item:hover > .nav-link {
     color:#DBA552;
 }
 
 .nav-item-no-hover:hover > .nav-link-no-hover {
     color:#DBA552;
 }
 
 .nav-sublist-item:hover > .nav-sublist-link {
     color:#000000;
     background-color: #DBA552;
 }
 
 .line{
     width: 1px;
     height: 24px;
     margin-left: 30px;
     margin-right: 30px;
     color:#FFE7C0;
 }
 /* nav end */

/* 彈出視窗 */
.modal {
    display: none; /* 默認隱藏 */
    position: fixed; /* 固定位置 */
    z-index: 1; /* 在其他元素之上 */
    left: 0;
    top: 0;
    width: 100%; /* 寬度為 100% */
    height: 100%; /* 高度為 100% */
    overflow: auto; /* 允許滾動 */
    background-color: rgba(0,0,0,0.4); /* 背景色 */
  }
  
  /* 內容 */
  .modal-content {
    background-color: #fefefe; /* 背景色 */
    margin: 15% auto; /* 上下左右置中 */
    padding: 20px; /* 內距 */
    width: 80%; /* 寬度為 80% */
  }

  /* 關閉按鈕 */
.close {
    color: #DBA552; /* 文字顏色 */
    float: right; /* 浮動在右側 */
    font-size: 48px; /* 字體大小 */
    font-weight: bold; /* 粗體 */
  }

.close:hover{
    color: #FFF7E0;
    font-size: 64px; /* 字體大小 */
}
.slide {
    margin: 0 auto;
    position: absolute; /* 絕對定位 */
    top: 50%; /* 上邊距在彈出視窗中央 */
    left: 50%; /* 左邊距在彈出視窗中央 */
    transform: translate(-50%, -50%); /* 平移 */
    max-width: 540px;
}

  /* 上一張按鈕 */
.prev {
    position: absolute; /* 絕對定位 */
    left: 120px; 
    top: 50%; /* 上邊距在圖片中央 */
    transform: translateY(-50%); /* 平移 */
    background-color: #FFF7E0; /* 背景顏色 */
    color: #7B5333; /* 文字顏色 */
    font-size: 48px; /* 文字大小 */
    padding: 16px; 
    cursor: pointer; /* 指標形状 */
    border: none; /* 無邊框 */
    border-radius:10%;
  }

  .prev:hover{
    background-color: #E9C084;
  }
  
  /* 下一張按鈕 */
  .next {
    position: absolute; /* 絕對定位 */
    right: 120px; 
    top: 50%; /* 上邊距在圖片中央 */
    transform: translateY(-50%); /* 平移 */
    background-color: #FFF7E0; /* 背景顏色 */
    color: #7B5333; /* 文字顏色 */
    font-size: 48px; /* 文字大小 */
    padding: 16px; 
    cursor: pointer; /* 指標形状 */
    border: none; /* 無邊框 */
    border-radius:10%;
  }

  .next:hover{
    background-color: #E9C084;
  }
  

.title{
    color:#7B5333;   
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;    
    align-items: center; 
    font-family: 'RoundPop',sans-serif;
    letter-spacing: 3px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.col{
    padding: 0 24px 0 24px;
    width: calc(100%/4);
}

.group{
    background-color: #FFBBB4;
    width: 280px;
    height: 380px;
    margin-top: 80px;
    padding: 20px 20px 12px 20px;
    border-radius:10%;
    overflow: hidden;
}

.images{
    overflow: hidden;
}

.IMG{
    width: 100%;
    height: 100%;
    max-width: 240px;
    max-height: 240px;
    object-fit: contain;
    border-radius:24px;
    transform:scale(1,1);transition: all 0.25s ease-out;
}

.IMG:hover{
    transform:scale(1.25,1.25);
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}


.date{
    color:#7B5333;
    text-decoration:none;
    font-size: 10px;
    text-align: right;
}

.text{
    color:#7B5333;
    text-decoration:none;
    font-size: 16px;
    line-height:1.5;
    text-align: center;
}

.footer{
    width: 100%;
    padding: 46px 146px 26px 91px;
    background-color: #7B5333;
    box-sizing: border-box;
    justify-content: space-between;
}

.footer-aside{
    font-family: Arial;
    display: block;
    text-align: left;
    width: 500px;
    margin: 0;
    color: #E9C084;
    line-height: 120%;
}

.footer-below{
    display:block;

}

.copyright{
    display: flex;
    font-family: Arial;
    color: #DBA552;
    justify-content: center;
    margin: 0;
}

.footer-bar{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    height: 0px;
    margin:0;
}

@media (max-width: 320px){
    /* loading */
#preloader{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    background-color: #FCF6DD;
    z-index: 9999;
}

#status img{
    position: fixed;
    max-width: 250px;
    max-height: 250px;
    margin-left: -125px;
    margin-top: -150px;
    left: 50%;
    top: 50%;
}
/* loading end */

.nav-logo{
    margin-left: 20px;
    margin-top: 8px;
}

.nav{
    justify-content: space-between;
    display: flex;
    height: 88px;
    font-size: 16px;
    background-color: #7B5333;   
    padding-right: 10px; 
    position: relative;
    flex-direction: row;
    align-items: center;
}

.nav img{
    width: 80%;
}
}

@media (max-width: 1280px){

/* 關閉按鈕 */
.close {
    color: #DBA552; /* 文字顏色 */
    float: right; /* 浮動在右側 */
    font-size: 48px; /* 字體大小 */
    font-weight: bold; /* 粗體 */
  }

.close:hover{
    color: #FFF7E0;
    font-size: 64px; /* 字體大小 */
}



  /* 上一張按鈕 */
.prev {
    position: absolute; /* 絕對定位 */
    left: 120px;
    top: 50%; /* 上边距在圖片中央 */
    transform: translateY(-50%); /* 平移 */
    background-color: #FFF7E0; /* 背景顏色 */
    color: #7B5333; /* 文字顏色 */
    font-size: 48px; /* 文字大小 */
    padding: 16px; /* 內边距 */
    cursor: pointer; /* 指標形状 */
    border: none; /* 無邊框 */
    border-radius:10%;
  }

  .prev:hover{
    background-color: #E9C084;
  }
  
  /* 下一張按鈕 */
  .next {
    position: absolute; /* 絕對定位 */
    right: 120px; /* 左边距为 0 */
    top: 50%; /* 上边距在圖片中央 */
    transform: translateY(-50%); /* 平移 */
    background-color: #FFF7E0; /* 背景顏色 */
    color: #7B5333; /* 文字顏色 */
    font-size: 48px; /* 文字大小 */
    padding: 16px; /* 內边距 */
    cursor: pointer; /* 指標形状 */
    border: none; /* 無邊框 */
    border-radius:10%;
  }

  .next:hover{
    background-color: #E9C084;
  }

    .row{
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
    }
    
    .col{
        padding: 0 24px 0 24px;
        width: calc(100%/3);
    }
    
    .group{
        background-color: #FFBBB4;
        width: 280px;
        height: 380px;
        margin-top: 80px;
        padding: 20px 20px 12px 20px;
        border-radius:10%;
    }
    
    .images{
        overflow: hidden;
    }
    
    .IMG{
        width: 100%;
        height: 100%;
        max-width: 240px;
        max-height: 240px;
        object-fit: contain;
        border-radius:24px;
    }
    
    .IMG:hover{
        transform:scale(1.25,1.25);
        width: 100%;
        height: 100%;
        object-fit: contain;
        overflow: hidden;
    }
    
    .date{
        color:#7B5333;
        text-decoration:none;
        font-size: 10px;
        text-align: right;
    }
    
    .text{
        color:#7B5333;
        text-decoration:none;
        font-size: 16px;
        line-height:1.5;
        text-align: center;
    }

    .footer {
        width: 100%;
        padding: 66px 146px 46px 72px;
        background-color: #7B5333;
        box-sizing: border-box;
    }
    
    .footer-bar{
        height: 0px;
        margin:0;
        padding:0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        float: right;
    }
    
    .footer-bar-item{
        float: right;
        box-sizing: border-box;
    }
    
    .footer-aside{
        padding-top: 20px;
    }
    
    .footer-below{
        padding-top: 40px;
    }
}

@media (max-width: 940px){

    .slide {
        margin: 0 auto;
        position: absolute; /* 絕對定位 */
        top: 50%; /* 上邊距在彈出視窗中央 */
        left: 50%; /* 左邊距在彈出視窗中央 */
        transform: translate(-50%, -50%); /* 平移 */
        max-width: 360px;
    }
    

    .col{
        padding: 0 24px 0 24px;
        width: calc(100%/2);
    }

}

@media (max-width: 768px){

    .nav-container{
        display: block;
        align-items: center;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 2;
        width:100%;
    }
             
    .nav{
        justify-content: space-between;
        display: flex;
        height: 88px;
        font-size: 20px;
        background-color: #7B5333;   
        padding-right: 100px; 
        position: relative;
        flex-direction: row;
        align-items: center;
    }
             
    .nav-menu{
        display: block;
        font-size: 40px;
        position: relative;
        display: flex;
        justify-content: flex-end;
        padding: 0 10px;
        border-radius: 16px;
        z-index: 1;
    }
                
    .nav-menu:hover{
        color: #FFF7E0;
        cursor: pointer;
    }
        
    .nav-list{
        display: none;
        margin: 0;
        padding: 0;
        background-color: #E9C084;
        text-align: center;
        flex-direction: column;
        color: #000000;
    }
        
    .nav-link{
        color: #000000;
        text-decoration: none;
        font-size: 30px;
        display: block;
        background-color: #E9C084;
        width:100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .nav-link-no-hover{
        color: #000000;
        text-decoration: none;
        font-size: 30px;
        display: block;
        background-color: #E9C084;
        width:100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .nav-item{
        display: block;
        color: #000000;
        align-items: center;
        font-size: 25px;
    }
        
    .nav-sublist2{
        display:block;
        position: relative;
        padding-left: 0px;
    }
    
    .nav-sublist2-link{
        display: block;
        background-color: #E9C084;
        color: #7B5333;
        padding: 15px;
        text-decoration: none;
    }
        
    .nav-sublist{
        display:none;
    }
        
    .menu-click{
        display: block;
    }
        
    .nav-item:hover > .nav-link {
        color:#FFF7E0;
        background-color: #DBA552;
        display: block;
        width: 100%;
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .nav-item-no-hover:hover > .nav-link-no-hover {
        color: #000000;
        text-decoration: none;
        font-size: 30px;
        display: block;
        background-color: #E9C084;
        width:100%;
        padding-top: 20px;
        padding-bottom: 20px;
        cursor: default;
    }
    
    .nav-sublist2-item:hover > .nav-sublist2-link {
        color:#FFF7E0;
        background-color: #DBA552;
        display: block;
        width: 100%;
        padding: 15px;
        padding-left: 0px;
    }
    
    .nav-sublist2-link:hover > .nav-link {
        color: #000000;
        text-decoration: none;
        font-size: 30px;
        display: block;
        background-color: #E9C084;
        width:100%;
        border-radius: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .nav-sublist2:hover > .nav-item {
        display: block;
        color: #000000;
        align-items: center;
        font-size: 25px;
    }
    
    .nav-item2{
        display: none;
    }

    /* 關閉按鈕 */
.close {
    color: #DBA552; /* 文字顏色 */
    float: right; /* 浮動在右側 */
    font-size: 48px; /* 字體大小 */
    font-weight: bold; /* 粗體 */
  }

.close:hover{
    color: #FFF7E0;
    font-size: 64px; /* 字體大小 */
}

.slide {
    margin: 0 auto;
    position: absolute; /* 絕對定位 */
    top: 50%; /* 上邊距在彈出視窗中央 */
    left: 50%; /* 左邊距在彈出視窗中央 */
    transform: translate(-50%, -50%); /* 平移 */
    max-width: 480px;
}

  /* 上一張按鈕 */
.prev {
    position: absolute; /* 絕對定位 */
    left: 40px;
    top: 50%; /* 上边距在圖片中央 */
    transform: translateY(-50%); /* 平移 */
    background-color: #FFF7E0; /* 背景顏色 */
    color: #7B5333; /* 文字顏色 */
    font-size: 48px; /* 文字大小 */
    padding: 16px; /* 內边距 */
    cursor: pointer; /* 指標形状 */
    border: none; /* 無邊框 */
    border-radius:10%;
  }

  .prev:hover{
    background-color: #E9C084;
  }
  
  /* 下一張按鈕 */
  .next {
    position: absolute; /* 絕對定位 */
    right: 40px; /* 左边距为 0 */
    top: 50%; /* 上边距在圖片中央 */
    transform: translateY(-50%); /* 平移 */
    background-color: #FFF7E0; /* 背景顏色 */
    color: #7B5333; /* 文字顏色 */
    font-size: 48px; /* 文字大小 */
    padding: 16px; /* 內边距 */
    cursor: pointer; /* 指標形状 */
    border: none; /* 無邊框 */
    border-radius:10%;
  }

  .next:hover{
    background-color: #E9C084;
  }

    .row{
        display: grid;
        justify-content: center;
        padding:0px ;
    }
    
    .col{
        display: grid;
    }

    .group{
        background-color: #FFF7E0;
        width: 100%;
        height: 100%;
        width: 420px;
        height: 520px;
        margin-top: 80px;
        padding: 20px 20px 12px 20px;
        border-radius:10%;
    }
    
    .images{
        overflow: hidden;
    }
    
    .IMG{
        width: 100%;
        height: 100%;
        max-width: 480px;
        max-height: 480px;
        object-fit: contain;
        border-width: 8px;
        border-color:#FFBBB4;
        border-style:solid;
        border-radius:24px;
    }

    .IMG:hover{
        width: 100%;
        height: 100%;
        object-fit: contain;
        overflow: hidden;
    }
    
    .date{
        color:#7B5333;
        text-decoration:none;
        font-size: 12px;
        text-align: right;
    }
    
    .text{
        color:#7B5333;
        text-decoration:none;
        font-size: 20px;
        line-height:1.5;
        text-align: center;
    }

    .footer {
        width: 100%;
        padding: 66px 48px 46px 48px;
        background-color: #7B5333;
        box-sizing: border-box;
    }
    .footer-bar{
        /* display: flex; */
        /* justify-content: flex-end; */
        height: 0px;
        margin:0;
        padding:0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        float: right;
    }
    .footer-bar-item{
        float: right;
        box-sizing: border-box;
    }
    
    .footer-icon{
        width: 48px;
        height: 48px;
    }
    
    .footer-aside{
        font-family: Arial;
        font-size: 10px;
        display: block;
        text-align: left;
        width: 320px;
        margin: 0 0 0 0px;
        color: #E9C084;
        line-height: 120%;
    }
    
    .footer-below{
        padding-top: 40px;
        font-size: 10px;
    }
}
